replicaCount: 1

webapp:
  name: cirrustest
  group: cirrustest
  imagePullPolicy: Always
  path: /
  tls:
    fqdn: cirrustest.k8s.ucar.edu
    secretName: incommon-cert-cirrustest
  volume1:
    name: campaign
    server: gladedm1.ucar.edu
    path: /gpfs/csfs1
    readOnly: true
  volume2:
    name: output
    mountPath: /output
    size: 160Gi
    securityContext:
      runAsGroup: 1000
  volume3:
    name: checkpoint
    mountPath: /checkpoint
    size: 100Gi
    securityContext:
      runAsGroup: 1000
  extraVolumes:
    name: dshm
    emptyDir:
      medium: Memory
      sizeLimit: 128Gi
  container: 
    #image: docker.io/sgpearse/cirrustest:1.3.20
    image: docker.io/sgpearse/cirrustest:1.3.20.root.1
    port: 8080
    requests: 
      memory: 128Gi
      cpu: 2
    limits: 
      memory: 128Gi
      cpu: 8

jobs:
  debug:
    enabled: true
    name: cirrustest-debug
    command: ["/bin/bash", "-c"]
    args: |
      df -h /dev/shm
      git config --global --add safe.directory /workspace/CIRRUS-MILES-CREDIT
      cd /workspace/CIRRUS-MILES-CREDIT
      git stash
      git pull -q
      echo "CIRRUS-MILES-CREDIT commit:"
      git log -1 --format=%h
      chmod 777 credit.sh
      chmod 777 dateChange.sh
      rm -rf /output/*
      ./dateChange.sh
      ./credit.sh

cronjobs:
  credit:
    enabled: true
    name: cirrustest-cron
    schedule: "*/5 * * * *"
    #schedule: "0 0,6,12,18 * * *"
    #timeZone: "America/Denver"
    command: ["/bin/bash", "-c"]
    args: |
      git config --global --add safe.directory /workspace/CIRRUS-MILES-CREDIT
      cd /workspace/CIRRUS-MILES-CREDIT
      git stash
      git pull -q
      echo "CIRRUS-MILES-CREDIT commit:"
      git log -1 --format=%h
      chmod 777 credit.sh
      chmod 777 dateChange.sh
      rm -rf /output/*
      ./dateChange.sh
      #./credit.sh
